# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
._config.yml.un~
_config.yml~
.index.html.un~
.aboutme.md.un~
aboutme.md~
index.html~
*.md~
*.un~
.jekyll-cache/
*.swp
