---
layout: page
title: Library
---

<head>

<link href="{{ site.baseurl }}/assets/css/library.css" rel="stylesheet">

</head>

<!-- Posts Index
================================================== -->
<section class="recent-posts">

	<div class="row listrecent">
	{% for story in site.stories %}
		<div id="story">
			<a href="{{ story.url }}" title="{{ story.title }}">
				<img class="story-cover" src="{{ story.cover }}"/>
			</a>
			<a href="{{ story.url }}" title="{{ story.title }}">
				<h2 class="story-title" src="{{ site.baseurl }}{{ story.path }}" >{{ story.title }}</span></h2>
			</a>
			<div><span class="story-blurb">{{ story.blurb }}</span></div>

			<!-- Post Categories -->
			<div class="after-post-cats">
					<ul class="tags mb-4">
							<span>Categories: </span>
							{% assign sortedCategories = story.categories | sort %}
							{% for category in sortedCategories %}
							<li>
									<a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
							</li>
							{% endfor %} <!-- category end -->
					</ul>
			</div>
			<!-- End Categories -->

			<!-- Post Tags -->
			<div class="after-post-tags">
					<ul class="tags">
							<span>Tags: </span>
							{% assign sortedTags = story.tags | sort %}
							{% for tag in sortedTags %}
							<li>
									<a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
							</li>
							{% endfor %} <!-- tag end -->
					</ul>
			</div>
			<!-- End Tags -->

		</div>
		<!-- end Story -->
	{% endfor %}
	</div>


    <div class="row listrecent">

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

