
		<!-- Story entry -->
		<div id="story">
			<a href="{{ story.url }}" title="{{ story.title }}">
				<img class="story-cover" src="{{ story.cover }}"/>
			</a>
			<a href="{{ story.url }}" title="{{ story.title }}">
				<h2 class="story-title" src="{{ site.baseurl }}{{ story.path }}" >{{ story.title }}</span></h2>
			</a>
			<div><span id="story-blurb">{{ story.blurb }}</span></div>
			<div><span id="publication-date">Published {{ story.publication-date }}</span></div>

			<!-- Story Categories -->
			<div class="after-post-cats">
					<ul class="tags mb-4">
							<span>Categories: </span>
							{% assign sortedCategories = story.categories | sort %}
							{% for category in sortedCategories %}
							<li>
									<a class="smoothscroll" href="{{site.baseurl}}/category/{{ category | slugify }}">{{ category }}</a>
							</li>
							{% endfor %}
					</ul>
			</div>
			<!-- End Categories -->

			<!-- Story Tags -->
			<div class="after-post-tags">
					<ul class="tags">
							<span>Tags: </span>
							{% assign sortedTags = story.tags | sort %}
							{% for tag in sortedTags %}
							<li>
									<a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | slugify }}">#{{ tag }}</a>
							</li>
							{% endfor %}
					</ul>
			</div>
			<!-- End Tags -->
		</div>
		<!-- End Story -->
