.story-cover {
	width: 200px;
	height: auto;
}

#story-title {
}

#story-blurb {
}

#publication-date {
	font-style: italic;
	font-size: 0.8em;
	margin: 10 0px;
}

#story {
	border-bottom-width: 2px;
	border-bottom-color: grey;
	border-bottom-style: solid;
	padding-bottom: 8px;
	width: 100%;

}

img.story-cover {
	object-fit: cover;
	float: left;
	padding: 15px;
}

.after-post-cats {
	clear: left;
	display: block;
}

ul.tags {
	margin: 0px;
}

.mb-4 {
	margin-bottom: 0px !important;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#FFFF00;
  height: 1px;
}
